<!DOCTYPE html>
<html>
  <head>
    <title>{{options.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="generator" content="kss-node">

    <link rel="stylesheet" href="kss-assets/css/vendors/prism.css">
    <link rel="stylesheet" href="kss-assets/css/kss.css">
    {{{styles}}}
  </head>

  <body class="kss-body">


    <!-- scripts -->
    <script src="kss-assets/js/vendors/jquery-3.3.1.min.js"></script>
    <script src="kss-assets/js/vendors/prism.js"></script>
    <script src="kss-assets/js/kss.js"></script>
    {{{scripts}}}
    <!-- end scripts -->

  </body>
</html>